@import "tailwindcss";

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Nunito", sans-serif;
 
}
body{
       color: rgb(0, 0, 0) ;
}

::-webkit-scrollbar-track{
    background-color: #F4F4F4;
}
::-webkit-scrollbar{
    width: 2px;
    background-color: #F4F4F4;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}